@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cosmos Odyssey</h1>
    
    <a asp-page="/Providers/Index">Providers</a> |
    <a asp-page="/Reservations/Index">Reservations</a>
</div>